<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card forgot-password-card">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="assets/img/forgot.jpg" alt="forgot password" class="forgot-password-card-img">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h1 class="title">Forgot Your Password?</h1>
              <form [formGroup]="forgotPassForm" (ngSubmit)="onSubmitForgotPass()" style="margin-left: 11%;margin-top: 10px;">
                  <div class="form-group">
                    <label for="username" class="sr-only">Email</label>
                    <input formControlName="userForgotPassFormControl" type="text" name="username" id="username" class="form-control" placeholder="Username">
                  </div>
                  <input name="forgot-password" id="forgot-password" class="btn btn-block forgot-password-btn mb-4" type="submit" value="Request Reset Link">
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>