<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card change-password-card">
        <div class="row no-gutters">
            <div class="card-body">
              <div class="brand-wrapper">
                <h1 class="title">Change Your Password:</h1>
              </div>
              <form [formGroup]="changePassForm" (ngSubmit)="onSubmitChangePass()" style="margin-left: 30%;">
                  <div class="form-group">
                    <label for="oldPassword" class="sr-only">Old Password</label>
                    <input formControlName="oldPasschangePassFormControl" type="password" name="oldPassword" id="oldPassword" class="form-control" placeholder="Old Password">
                  </div>
                  <div class="form-group mb-4">
                    <label for="newPassword" class="sr-only">New Password</label>
                    <input formControlName="newPasschangePassFormControl" type="password" name="newPassword" id="newPassword" class="form-control" placeholder="New Password">
                  </div>
                  <div>
                    
                  </div>
                  <div class="error">
                    {{errorMsg}}
                  </div>
                  <input name="saveChanges" id="saveChanges" class="btn btn-block change-password-btn mb-4" type="submit" value="Save changes">
                </form>
            </div>
        </div>
      </div>
    </div>
  </main>